.title {
  color: #02ccba;
}

* {
  margin: 0;
}
.header {
  background-color: #00008B;
  height: 50px;
  width: 100%;
}


.header-list li {
  list-style: none;
  float: left;
  color: white;
  padding: 14px 5px ;
  font-size: 15px;
}

.header-list2 li {
  list-style: none;
  float: right;
  color: white;
  padding: 10px 10px ;
  font-size: 20px;
}
.fa-phone {
  padding: 0px 0px;
  font-size: 25px
}

.fa-envelope {
  padding-left: 20px;
  font-size: 25px;
}

.fa-search {
  padding: 15px;
}
.fa-facebook-square {
  padding-right: 70px;
}

.login {
  padding-right: 50px;
}
.nav {
  background-color: none;
  height:70px;
  width: 100%;
  margin: auto;
}

.nav-logo {
  color: black;
  font-size: 35px;
  padding: 14px;
  padding-left: 30px;
  float: left;
  font-family: cambria;
  font-weight: bolder;
  letter-spacing: 4px;
}
.nav-list li {
  list-style: none;
  float: right;
  padding: 15px ;
  font-size: 15px;
  font-family: verdana;
}

.nav-list li:hover{
    background: #00008B;
}
.nav-list li:hover a{
    color: snow;
}
.nav-list li a{
    display: block;
    padding: 11px;
    color: #000000;
    text-decoration: none;
}

.active {
      text-decoration: underline;
}
/*untuk layar device berukuran kecil*/
@media screen and (min-width: 450px) {
   .header {
       width: 50%
   }
   .nav {
       width: 50%
   }
}

/*untuk layar device berukuran sedang*/
@media screen and (min-width: 550px) {
   .header {
       width: 33%;
   }
   .nav {
       width: 33%;
   }
}

/*untuk layar device berukuran besar*/
@media screen and (min-width: 800px) {
   .header {
       width: 800px;
       margin-left: auto;
       margin-right: auto;
   }
   .nav {
       width: 800px;
       margin-left: auto;
       margin-right: auto;
     }
}

main {
  background-color: green;
}
